@CHARSET "UTF-8";

html, body {
	font-family: 'Open Sans';
	font-size: 16px;
}


.shift-not-started {
	width:100%;
	color:#FFF;
	text-align:center;
	line-height:40px;

}

.shift-started {
	width:100%;
	background-color:#093;
	color:#FFF;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
	text-align:center;

}

.shift-date {
	font-size:11px;

}

